
/** <pre> tag */
pre {
	position: relative;
}

/** 'Copy' button and JS. */
.copy-the-code-button {
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    background: #55aedb  !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    box-shadow: none !important;
    color: #ffffff !important;
    font-size: 15px !important;
    font-weight: normal !important;
    border-radius: 0 !important;
    text-transform: capitalize !important;
    border: none !important;
}
.copy-the-code-button:hover {
    background: #d0d1d6 !important;
}
